* {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#game-board {
    min-width: min(70vw, 70vh);
    min-height: min(70vw, 70vh);
    display: grid;
    grid-template-columns: repeat(3, minmax(90px, 1fr));
    grid-template-rows: repeat(3, minmax(90px, 1fr));
    gap:10px;
}

#game-board>div {
    border:1px solid black;
}